.navbar.navbar-static-bottom
  .navbar-inner
    .container
      p.navbar-text.span6.offset1
        © 2012-2013 Breakaway Consulting Pty. Ltd. All rights reserved.
      p.navbar-text.span4.offset1
        a(href="https://twitter.com/BreakawayLabs", class="twitter-follow-button", data-show-count="false") Follow @BreakawayLabs
        &nbsp;
        iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&type=follow", allowtransparency="true", frameborder="0", scrolling="0", width="160", height="20")
      script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
