extends layout

block content
    .main-box.panel.panel-default
        .panel-heading
            h2 Using Git
        .panel-body
            p <a href="http://git-scm.com/downloads">Git</a> is a distributed version control system. #{project} uses git to provide an open development environment for all users and developers.

            p There are many excellent online resources for learning about git. In general, the online <a href="http://git-scm.com/doc">git documentation page</a> should be your first port of call when looking for general information about git.

            p The links below can help you find documentation relevant to your needs.

            h3 Beginners
            p If you are new to git, or even the idea of version control in general, then these links will help you to get started.
            ul
                li <a href="http://git-scm.com/videos">Git Basics Videos</a>: These 4 videos give a very gentle introduction to version control as a topic and git as a tool for doing version control.
                li <a href="http://git-scm.com/book/en/Git-Basics">Pro Git - Chapter 2 - Git Basics</a>: This is the introductory chapter from the book Pro Git, which will help you get started with the basic git commands.
                li <a href="https://help.github.com/categories/54/articles">Github Bootcamp</a>: This mini course will help you get started using github.
                li <a href="https://help.github.com/">Github help pages</a>: These help pages will assist you if you have problems interacting with github.

            h3 Intermediate users
            p These references will help you get more out of git. Once you have worked out the basics of cloning and committing, these will help you move on to topics such as branching, merging and understanding the git data model.

            ul
                li <a href="http://www.youtube.com/watch?v=ZDR433b0HJY">Introduction to Git with Scott Chacon of GitHub</a>: This 82 minute talk is a whirlwind tour of git which goes into some depth on the internal data model of git and how git commands interact with this data model.
                li <a href="http://git-scm.com/book">Pro Git</a>: This book covers everything there is to know about git in a structured manner. It is the suggested resource to consult when you want to learn about how to use a particular feature in git.


            h3 Advanced users
            p These references are for advanced users who are comfortable using git in their day to day work and might want a quick reminder or more in depth information on a particular topic.
            ul
                li <a href="http://git-scm.com/docs">Git Reference Docs</a>: These docs provide a complete technical reference for git.
                li <a href="http://ndpsoftware.com/git-cheatsheet.html">Interactive cheatsheet</a>: A handy reference for git commands and command line arguments


