head
  title MOM 5 - Model Development Lab


  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css")

  // Bootstrap stylesheets and magic
  //- link(href="/css/bootstrap.min.css", rel="stylesheet", media="screen")

  //link(href="/css/bootstrap-responsive.min.css", rel="stylesheet", media="screen")
  // JQuery


  // For syntax highlighting
  //link(rel="stylesheet", href="/lib/css/zenburn.css")

  // MDL css
  link(href="/MDL.css", rel="stylesheet", media="screen")
  script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34258930-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
