head
  title MOM 5 - Model Development Lab


  // Bootstrap stylesheets and magic
  link(href="/css/bootstrap.min.css", rel="stylesheet", media="screen")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  //link(href="/css/bootstrap-responsive.min.css", rel="stylesheet", media="screen")

  // JQuery
  script(src="http://code.jquery.com/jquery.js")

  // For syntax highlighting
  //link(rel="stylesheet", href="/lib/css/zenburn.css")

  // MDL css
  link(href="MDL.css", rel="stylesheet", media="screen")
