!!! 5
html
  include header

  body

    include navbar

    .container
        .row.main-row
            .col-md-7.col-md-offset-1
                block content
            .col-md-3
                include right_col

    include footer

    script(src="http://code.jquery.com/jquery.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
