!!! 5
html
  include header

  body

    include navbar

    .container
        .row.main-row
            .col-md-7.col-md-offset-1
                block content
            .col-md-3
                include right_col

    include footer
