!!! 5
html
  include header

  body

    include navbar

    .container
        .row.main-row
            .col-md-9
                block content
            .col-md-3
                include right_col

    include footer
