!!! 5
html
  include header

  body

    include navbar

    .container
        .row.main-row
            .span8.offset1
                block content
            .span2
                include right_col

    include footer

    script(src="/js/bootstrap.min.js")