extends layout

block content 
    .main-box.panel.panel-default
        .panel-heading
            h2 Task Tracking
        .panel-body
            p As an open source project, #{project} relies on members of the community to drive its development. To help manage this development, a task tracker is used to keep track of bug reports, feature requests and suggested improvements.

            p To report an issue or request a feature to the <a href="https://github.com/BreakawayLabs/mom/issues">Task Tracker</a>.
