@charset 'UTF-8';

.nav-justified {
  padding-top: 5px;
}


.box_icon {
  float: left;
  margin: 3px;
}

/*.twitter-follow-button {
    padding-top: 10px;
}
*/
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.main-row {
    padding-top: 20px;
}